<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shift Interceptor</title>
    </head>
    <body>
        <div class="auto">
            <p>Shift Interceptor</p>
        </div>
    </body>
</html>